/*
---------
VARIABLES
---------
*/

$button-bg: #f62b0a;
$button-border-color: #a72510;
$days-program-bg: #c72b11;
$footer-up-bg: #212121;
$footer-up-text-primary: #babdbf;
$footer-up-text-secondary: #767576;
$footer-down-bg: #161616;
$text-primary-color: #5b5b5b;
$link-color: #8e8e8e;
$recent-news-text: #8b8b8b;
$program-sect-bg: #f7f7f7;
$program-sect-gray: #515151;
$speakers-bg: #f3f3f3;
$sponsors-bg: #f6f6f6;
$icon-gray: #bababa;
$speaker-name: #343434;
$speaker-job: #707070;
$ticket-head: #e9e9e9;
